.container{
    display: grid;
    grid-template-columns: 2fr 10fr;
}
.dialog{
    color: black;
    margin: 20px;
    text-align: center;
}
.messages{
    border-left: 2px solid #000000;
}
.message_item{
    margin: 20px;
}
.active{
    color: gold;
}